body {
    background-color:  #221910;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.title {
   font-family: 'Arial Black', 'Impact', sans-serif;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 900;
    color: #333;
    margin: 10px 0;
}

.subtitle {
    font-weight: 500;
    font-weight:1px;
    font-size: 16px;
    color: #A4927D;
    margin: 10px 0 20px;
}

.imgsetting{
      width: 80%;
}

.input {
    background-color: #453221;
    width: 100%;
    height: 140px;
    font-size: 16px;
    font-weight: 300;
    color:white;
    padding: 10px;
    border: 2px solid #352A1E; 
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    resize:none;
}

.input:hover {
       border: 2px solid #F9D389;
       transition: border 0.2s ease, box-shadow 0.3s ease;
}


.button {
    width: 100%;
    background-color:#E29A36;
    color: #333;
    font-size: 15px;
    padding: 0px 0;
    border-bottom: 5px solid #A56F24; 
    border-left: 3px solid #A56F24;
    border-right: 3px solid #A56F24;
    border-top: 2px solid #A56F24;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    border: 2px solid #F9D389;
    transition: border 0.01s;
}

.subtitlebutton{
    margin-top: 12.5px;
    width: 15%;

}